.box{
    height:500px;
    width:500px;
    border: 3px solid rgb(88, 7, 86);
}

.box1{
    height:250px;
    width:250px;
    border: 3px solid rgb(27, 207, 42);
    margin-left: 100px;
    margin-top:100px;

}
.circle{
    border:3px solid blue;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin-left: 60px;
    margin-top: 45px;

}
.outer{
    width: 500px;
    height: 500px;
    border:3px solid red;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.inner{
    width: 350px;
    height: 350px;
    border: 3px solid rgb(5, 53, 5);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Circle{
    width: 250px;
    height: 250px;
    border: 3px solid rgb(98, 12, 69);
    border-radius: 50%;
}

.cir1{
    border-radius:50%;
    width:200px;
    height: 200px;
    position: absolute;
    left: 150px;
    border: 2px solid rgb(81, 15, 62);
}
.cir2{
    border-radius:50%;
    width:200px;
    height: 200px;
    border:2px solid rgb(81,15,62);
    margin-left: 250px;
}
