.box{
    height:200px;
    width:200px;
    border: 3px solid rgb(88, 7, 86);
}

.box1{
    height:100px;
    width:100px;
    border: 3px solid rgb(27, 207, 42);
    margin-left: 45px;
    margin-top:30px;

}
.circle{
    border:3px solid blue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 23px;
    margin-top: 5px;

}
.outer{
    width: 200px;
    height: 200px;
    border:3px solid red;
    display:flex;
    justify-content: center;
    align-items: center;
}
.inner{
    width: 100px;
    height: 100px;
    border: 3px solid rgb(5, 53, 5);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Circle{
    width: 50px;
    height: 50px;
    border: 3px solid rgb(98, 12, 69);
    border-radius: 50%;
}

.circle11{
    border-radius:50%;
    width:100px;
    height: 100px;
    position: absolute;
    border: 2px solid rgb(81, 15, 62);
}
.circle22{
    border-radius:50%;
    width:100px;
    height:100px;
    border:2px solid rgb(81,15,62);
    margin-left: 50px;
}
.button{
    width:150px;
    height:50px;
    background-color: green;
    color:#fff;
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 15px;
}
.triangle{
    width:0;
    height: 0;
    border-left: 20px solid transparent;
    border-right:20px solid transparent ;
    border-bottom: 40px solid blue;
    margin-left: 95px;
}
.harshi{
    display: flex;
}

.b1{
    width:50px;
    height: 50px;
    border: 3px solid rgb(170, 35, 180);
    position: absolute;
}
.b2{
    width:50px;
    height: 50px;
    border: 3px solid rgb(170, 35, 180);
    position: absolute;
    margin-left: 50px;
}

.b3{
    width:50px;
    height: 50px;
    border: 3px solid rgb(170, 35, 180);
    margin-top: 25px;
    margin-left:25px;
}
.square{
    width:100px;
    height: 100px;
    border: 3px solid green;
    position: absolute;
}
.round11{
    border-radius: 50%;
    border:3px solid rgb(187, 59, 81);
    width:100px;
    height: 100px;
    margin-left:70px;
}


